html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.loginLogo {
  flex-direction: column;
}

form.login {
  border-right: solid 2px black;
  margin-right: 40px;
}

#review-form {
  padding-bottom: 50px;
}

#form {
  width: 50%;
  background-color: rgb(247, 248, 246);
  border-style: solid;
  border-width: 5px;
}

#welcome {
  width: 60%;
  background-color: rgb(247, 248, 246);
  border-style: solid;
  border-width: 5px;
  margin-top: 1px;
  min-height: 100vh;
}

#login {
  background-color: white;
  border-width: 3px;
  border-bottom: solid;
  border-top: solid;
  border-left: solid;
}

#signup {
  background-color: white;
  border-width: 3px;
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
}

#batman {
  border-style: solid;
  border-width: 2px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#headerText {
  text-align: center;
  margin-bottom: 100px;
}

.rateSection,
.findSection {
  text-align: center;
}

.rateBtn,
.findBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.btn {
  background-color: #663300;
}

#findText,
#reviewText {
  max-width: 500px;
}

#review {
  max-width: 95%;
}

#reviewForm {
  max-width: 550px;
  flex-direction: column;
}

.reviewPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inputZip,
#zipInput {
  max-width: 175px;
}

#inputState {
  height: 36px;
  border-radius: 3px;
  max-width: 175px;
  padding: 6px;
}

#refineBtn {
  max-width: 150px;
  margin-bottom: 25px;
  padding: 8px;
}

.form-label {
  margin-bottom: 0;
}

.resultCard {
  border: 1px black solid;
  max-width: 500px;
  border-radius: 5px;
  min-height: 200px;
  background-color: white;
}

.searchDiv,
.resultsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  border: none;
}

.address {
  font-size: small;
}

@media screen and (max-width: 990px) {
  form.signup {
    padding: 0;
  }
  #form {
    width: 100%;
  }
  .findSection {
    margin-top: 25px;
  }

  #reviewForm {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
  }

  div.rateBtn {
    margin-bottom: 50px;
  }

  .searchDiv {
    margin-bottom: 30px;
  }
}

/* Apply this styling when screen size is smaller than 990px */
@media screen and (max-width: 768px) {
  form.login {
    border-right: none;
    margin-bottom: 40px;
  }

  .formSignup {
    border-top: 2px solid black;
  }

  .formSignup h2 {
    margin-top: 30px;
  }

  .bathroomOptions {
    margin-left: 20px;
  }

  #findBtn {
    margin-bottom: 50px;
  }

  .resultsContainer {
    min-height: 100vh;
  }

  .resultCard {
    margin: 0 15px;
  }
}

/* Gets rid of the counter arrows in number type inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
